<h2>Guess a letter</h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<p>
  Wrong Guesses:
  <span class="guesses"><%= @game.wrong_guesses %></span>
</p>

<p>
  Word so far:
  <span class="word"><%= @game.word_with_guesses %></span>
</p>

<form action="/guess" method="post">
  <div class="form-group row">
    <label for="guess" class="col-md-2 col-form-label">Guess a letter:</label>
    <input type="text" name="guess" autocomplete="off"
           class="form-control col-md-1"/>
    <input type="submit" value="Guess!" class="col-md-2 btn btn-success"/>
  </div>
</form>

<%= erb :new %>



